/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --sidebar-color: #FFF;
    --primary-color: #000;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #000;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    transition: var(--tran-05);
}


body.dark{
    --sidebar-color: #242526;
    --primary-color: #000;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #fff;
}

/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}

.sidebar li a:active .icon,
.sidebar li a:active .text{
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

body.dark .sidebar li a:active .icon,
body.dark .sidebar li a:active .text{
    color: var(--text-color);
}


.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}



.home{
    position: absolute;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    transition: var(--tran-05);
}


.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}




/* Pagina */

section {

    background: var(--bg-color);
    color: var(--h-color);
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding-bottom: 750px;
    
  }
  
  

  section.default-color {
    --bg-color: linear-gradient(153deg, #a438fc 6%, #aa74f5 24%, #d4b7fd 70%);
    --h-color: #2f003f;
    --first-color: #c39bfc;
    --second-color: #7722ee;
    --second-color-hover: #9d5ff3;
  }
  
  section.default-dark-color {
    --bg-color: linear-gradient(153deg, #843c9c 6%, #5d1974 24%, #2f003f 70%);
    --h-color: #d4b7fd;
    --first-color: #c39bfc;
    --second-color: #7722ee;
    --second-color-hover: #9d5ff3;
  }
  
  section.peach-color {
    --bg-color: linear-gradient(153deg, #fc8576 6%, #fa9d81 24%, #ffa78c 70%);
    --h-color: #461104;
    --first-color: #ff9f7a;
    --second-color: #fa5956;
    --second-color-hover: #ff726f;
  }
  
  section.peach-dark-color {
    --bg-color: linear-gradient(153deg, #d44d0a 2%, #752c08 25%, #461104 70%);
    --h-color: #ffa78c;
    --tx-footer: #df7672;
    --first-color: #ff9f7a;
    --second-color: #fa5956;
    --second-color-hover: #ff726f;
  }
  
  section a {
    text-decoration: none;
  }
  
  /* -------- classes -------- */
  
  .container {
    border-radius: 25px;
    text-align: center;
    width: 300px;
    padding: 10px;
    backdrop-filter: blur(20px);
    background-color: #94949427;
    backdrop-filter: brightness(95%);
    position: absolute;
    top: 0;
    left: 500px;
    margin-top: 16px;

  }

  
    .imgperfil {
    border-radius: 50%;
    width: 20vh;
    height: 20vh;
    padding: 3.5px;
    border: var(--second-color) 4px solid;
  }
  
  .username {
    font-family: "Roboto", monospace;
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.75;
  }
  
  /* -------- tags -------- */
  
  
  h1 {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 32px;
    margin: 24px 0 0px;
  }
  
  h2 {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 20px;
    opacity: 0.75;
    margin: 0px 0 24px;
  }
  
  section ul {
    list-style: none;
    margin: 48px 0 12px 0;
  }
  
  /* tentar colocar dentro de uma classe */
  section ul li a {
    /*centralizando*/
    display: flex;
    align-items: center;
    justify-content: center;
  
    font-size: 16px;
    font-weight: 500;
    height: 53px;
    margin: 0 0 16px 0;
    color: var(--first-color);
    background: var(--second-color);
    text-transform: uppercase;
    border-radius: 30px;
    transition: background 200ms;
    transition: font-size 250ms;
  }
  
  section ul li a:hover {
    background: var(--second-color-hover);
    font-size: calc(1em + 45%);
  }
  
  section ul li a svg {
    margin: 0 10px 0 0;
    width: 25px;
    height: 25px;
    /* transition: width 250ms;
      transition: heigth 250ms; */
  }
  
  /* ul li a svg:hover{
      width: calc(1em + 5%);
      height:  calc(1em + 25%);
  } */
  
  
  .change-color{
      margin: 24px 8px 24px 8px;
      align-items: center;
  }
  
  .div-btn h{
    margin-top:8px;
    justify-content: center;
    display: flex;
  }
  
  .div-btn{
      font-size: 17px;
  }
  
  .div-btn button {
    margin: 5px;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .default{
      background-color: #9a62ef;
  }
  
  .default-dark{
      background-color: #632eb2;
  }
  
  .peach{
      background-color: #ff9166; 
  }
  
  .peach-dark{
      background-color: #b2502a;
  }
